<div class='pageIntro'>
  <h1>Edit Recipe <small><small><small><small><%= link_to 'View', @recipe %> |
    <% if current_user %>
    <%= link_to 'Back', "/recipes/#{@recipe.id}" %>
    <% end %>
  </small></small></small></small></h1>
</div>
<div class='container'>
  <div class='formContainer'>
    <%= render 'form' %>
  </div>
</div>
