<div class='pageIntro'>
  <h1>Browse Recipes</h1>
</div>
<div class='container'>
  <p id="notice"><%= notice %></p>


  <%= react_component 'SearchPage' %>



  <%# link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
