<div class='container'>
  <p id="notice"><%= notice %></p>

  <h1>Listing Recipes</h1>

  <%= react_component 'SearchPage' %>



  <%# link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
