// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*color scheme*/
$darkgrey: #64616D;
$grey: #7B7D8B;
$torq: #CDDBDB;
$beige: #D9CAB5;
$cream: #ECEADA;
$darkblue: #27384C;

ul {
  list-style: none;
}

//************** HOMEPAGE CSS*****************//
//homepage image
#homepageintro {
  background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.85)), image-url('food.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-color: $torq;
}

//homepage title
#homepageintro h1 {
  position: fixed;
   top: 50%;
   left: 50%;
   font-size: 125px;
   color: $cream;
   opacity: .8;
}

//homepage slogan
#homepageintro p {
  position: fixed; /* or absolute */
   top: 65%;
   left: 48%;
   font-size: 30px;
   line-height: 1em;
   color: $cream;
   opacity: .6;
   text-align: right;
}

//************** ABOUTPAGE CSS*****************//

// aboutpage title
#aboutus {
  text-align: center;
  margin: 1% 0;
  font-size: 32px;
}

//mission statement
.mission {
  padding-top: 15px;
  margin: 1% 0;
}

//question and answer title
#subtitle {
  padding-top: 15px;
  font-size: 18px;
}

//questions in accordian
.questions {
  margin: 2% 0;
  font-size: 16px;
  cursor: pointer;
}

//arrow symbol size
.symbol {
  font-size: 18px;
}

//answer section in accordian
.answers {
  margin: 2% 0;
  min-height: 50px;
}

.answers p {
  font-size: 15px;
  line-height: 1.5em;
  color: $darkblue;
}

//contact line
#contact {
  margin: 8% 0;
  text-align: center;
}

//links for contact
#contact a {
  color: $darkgrey;
}

#contact a:hover {
  color: $cream;
}

//remove accordion highlight
#accordion .ui-state-focus{
    outline: none;
}


//************** USER RECIPE SHOWPAGE CSS*****************//

.removebutton {
  position: absolute;
  left:420px;
  top: 3px;
  font-size: 30px;
  color: $cream;
}



//************** RECIPE DISPLAY CSS*****************//

//each recipe info
.rbox {
  position: relative;
  width: 450px;
  height: 200px;
  color: $cream;
  background-color: $darkgrey;
  float: left;
  margin: 5px;
  box-shadow:2px 2px 0px 0px rgba(0,0,0,.7);
}

.rbox h2 {
  margin: 9px 0;
  text-align: center;
}
.rbox h2:hover {
  color: $torq
}

.rbox img {
  margin: 5px 5px 5px 20px;
  float: left;
}
.rbox p {
  padding: 8px 0;
  padding-left: 8px;
  font-size: 12px;
  overflow: hidden;
  width: 150px;
  height: 138px;
  text-align: center;
}
.rbox ul {
  overflow: hidden;
  padding: 0;
  width: 150px;
  height: 140px;
}


//**************  SHOWPAGE CSS*****************//

//showpage for recipe
.showContainer {
  width: 100%;
  min-height: 350px;
  overflow: auto;
}

.box {
  margin: 2% 5px;
  float: left;
}

.box.info {
  width: 475px;
  text-align: center;
  line-height: 3em;
}

.box.info h1 {
  font-size: 34px;
}

.box.info p {
  font-size: 14px;
  margin: 3.5% 4%;
}

//ul of ingredients
.ingredientList li{
  list-style: disc;
  font-size: 14px;
  margin: 10%;
  width: 300px;
}

.box.recipe {
  margin: 2%;
}

.box.instruction {
  width: 475px;
  margin-left: 12%;
}

.box.instruction p {
  margin-top: 2%;
  line-height: 2em;
  font-size: 14px;
}

//fork and like icons
.select {
  display: inline-block;
  width: 100%;
}

.icons {
  list-style: none;
}

.icons li{
  width: 50px;
  float: right;
}

//related recipe show
.relatedRecipe {
  margin: 5%;
}

//************** FORMPAGE CSS*****************//
// form pages
.pageIntro {
  width: 100vw;
  height: 30px;
  background-color: $darkgrey;
  text-align: center;
  padding: 8px 0;
  color: $cream;
}
.pageIntro h1 {
  margin-top: 5px;
}

// form section
.formContainer {
  position: relative;
  margin: 2% 10%;
}

// form recipe display
.formItem {
  display:block;
  position:relative;
  margin-bottom:10px;
  height: 65px;
}
.formItem label {
  position:absolute;
  font-size:9px;
  letter-spacing:2px;
  top:28px;
  left:1px;
  width:305px;
  border-radius:5px 5px 0 0;
  background:$darkgrey;
  color: $cream;
  padding:4px 10px;
  -webkit-transition:all 0.5s ease-in;
}

.formItem input {
  background:$grey;
  color:$cream;
  letter-spacing:2px;
  border:1px solid $grey;
  border-radius:5px;
  padding:10px;
  width:305px;
  font-size:12px;
  outline:none;
  position:relative;
  margin-top:8px;
}

.formItem textarea {
  background:$grey;
  color:$cream;
  letter-spacing:2px;
  border:1px solid $grey;
  border-radius:5px;
  padding:10px;
  min-width: 305px;
  width:80%;
  height: 300px;
  font-size:12px;
  outline:none;
  position:relative;
  margin-top:8px;
}


//select option
select {
    height:35px;
    width:325px ;
    font-size: 13px;
    margin-top: 10px;
}

.formBox {
  float: left;
  width: 50%;
  min-height: 500px;
}
.formLong {
  float: left;
  width: 100%;
}
.formLong h3 {
  margin-top: 5%;
}

.actions{
  text-align: center;
}

.ingredient {
  clear:left;
  width: 100%;
  height: 50px;
  margin: 2% 0;
}

.fielding {
  margin-top: 2%;
  float: left;
}

// ingredient form display

.formIngredient {
  display:block;
  position:relative;
  margin-bottom:10px;
  margin: 0 5px;
  height: 65px;
}
.formIngredient label {
  position:absolute;
  font-size:9px;
  letter-spacing:2px;
  top:26px;
  left:1px;
  width:60px;
  border-radius:5px 5px 0 0;
  background:$darkgrey;
  color: $cream;
  padding:4px 10px;
  -webkit-transition:all 0.5s ease-in;
}
.formIngredient input {
  background:$grey;
  color:$cream;
  letter-spacing:2px;
  border:1px solid $grey;
  border-radius:5px;
  padding:10px;
  width:60px;
  height: 10px;
  font-size:12px;
  outline:none;
  position:relative;
  margin-top:8px;
}
.formIngredient select {
  margin-top: 26px;
  width: 150px;
  height: 33px;
  overflow: hidden;
  background: $grey;
  color: $cream;
  border: 1px solid $grey;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
  float: left;
}

//styles for the chosen select dropdown
.chosen-container {
  margin-top: 26px;
  color: $darkblue;
  float: left;
}
.chosen-container-single  .chosen-single {
  padding: 2% 5%;
  color: $cream;
  width: 150px;
  min-height: 32px;
  background-color: $darkgrey;
  float: left;
  border: none;
  background: $grey;
  box-shadow: none;
}
.chosen-container-single  .chosen-single div{
  top: 5px;
}
.chosen-container-active.chosen-with-drop  .chosen-drop {
  background-color: $grey;
  color: $cream;
}
.chosen-container .chosen-drop {
  border: none;
  background: $grey;
  box-shadow: none;
}
.chosen-container .chosen-results li.active-result {
  color: $cream;
}

//item enter placement
.other_item {
  float: left;
  margin-left: 8px;
  margin-top: 18px;
}

//delete 'x' button
.cross {
  font-size: 25px;
  color: $darkblue;
}


#recipe_cuisine_id {
  overflow: hidden;
  background: $grey;
  color: $cream;
  border: 1px solid $grey;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

#recipe_category_id {
  overflow: hidden;
  background: $grey;
  color: $cream;
  border: 1px solid $grey;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

//submit button
.submitForm {
  border:none;
  background:#27384C;
  padding:7px;
  color:$cream;
  border-radius:2px;
  text-transform:uppercase;
  margin: 30px 6px 0;
  width:28em;
  position:relative;
  box-shadow: 0 5px $darkgrey;
  cursor:pointer;
}
.submitForm:hover {
  top:2px;
  box-shadow: 0 3px $darkgrey;
}

//************** PLACEHOLDER CSS*****************//
//placeholder color
::-webkit-input-placeholder { color: $cream; }
:-moz-placeholder { color: $cream;}
::-moz-placeholder {color: $cream;}
:-ms-input-placeholder {color: $cream;}

//************** SEARCH CSS*****************//

//div for recipe
.foodinfo {
  margin: 20px 0;
  padding-top: 20px;
  overflow: auto;
  height: 100%;
  clear: both;
}

// Search Box styling
input[type="search"] {
  box-sizing: border-box;
  border-radius:0;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
.nav-search-container {
  float: left;
  padding-left: 10px;
}
//tag box
.itemContent {
  float: left;
  margin-left: 50px;
  height: 100%;
  min-height: 35px;
}
//tags for each search item
#tags{
  position: relative;
  float:left;
  padding:5px;
}
#tags span.tag{
  cursor:pointer;
  display:block;
  float:left;
  color: $cream;
  background: $darkblue;
  padding:5px;
  padding-right:25px;
  margin:4px;
}
#tags span.tag:hover{
  opacity:0.7;
}
#tags span.tag:after{
 position:absolute;
 content:"X";
 padding:0 4px;
 margin:1px 0 10px 5px;
 font-size:10px;
}

//search box
.search-input {
  float: left;
  outline: none;
  width: 0px;
  cursor: pointer;
  border: none;
  min-height: 43px;
  font-size: 1.5em;
  height: 100%;
  background-image: image-url('search.png');
  background-size: contain;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  border-right: 1px solid rgba($darkblue, 0.4);
  border-left: 1px solid rgba($darkblue, 0.4);
  padding: 8px 25px;
  transition: all .2s, width .1s ease-in-out;
  color: $darkblue;
  &:hover {
    background-color: rgba($grey, 0.2);
  }
  .focused & {
    width: 250px;
    background-image: none;
    background-color: rgba($darkgrey, 0.2);
    border-color: $darkblue;
    font-size: 15px;
    box-shadow: none;
    padding-right: 85px;
    padding-left: 40px;
    cursor: auto;
  }
}
// Submit search
.submit-container {
  display: inline-block;
  height: 43px;
  width: 36px;
  position: absolute;
  visibility: hidden;
  transition: visibility 1ms;
  // Cancel Out default stylings
  box-shadow: none;
  box-sizing: border-box;
// Toggle When text entered
.show-submit.focused & {
  visibility: inherit;
}
.submit {
  height: 100%;
  width: 0;
  border-radius:0;
  text-indent: -999px;
  background-image: image-url('search.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  background-size: 25px 25px;
  padding: 0;
  border: none;
  transition: width 200ms;
  // Show when text entered
  .show-submit & {
    width: 100%;
    visibility: inherit;
  }
}
}

//filter selections
.filters {
  margin: 1%;
  float: left;
  width: 150px;
  overflow: hidden;
  background: $grey;
  color: $cream;
  border: 1px solid $grey;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}
.selectingFilter {
  width: 1000px;
  float: left;
}
button.filters {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 13px;
}


// media query for screensize, responsive
@media (max-width: 950px) {
  #homepageintro h1 {
    font-size: 100px;
    left: 30%;
  }
  #homepageintro p {
    left: 30%;
    font-size: 22px;
    text-align: center;
  }
  .formBox {
    width: 100%;
  }
  .answers {
    min-height: 150px;
  }
}

@media (max-width: 582px) {
  #homepageintro h1 {
    top: 50%;
    left: 18%;
  }
  #homepageintro p {
    left: 18%;
  }
  .answers {
    min-height: 275px;
  }
  #contact {
    line-height: 1.5em;
  }
  #subtitle {
    padding-bottom: 10px;
  }
  .questions {
    margin: 5% 0;
  }
  .ingredient {
    margin: 0;
  }
  .formItem input {
    width: 270px;
  }
  .formItem label {
    width: 270px;
  }
  .formItem textarea {
    min-width: 270px;
  }
  select {
    width: 295px;
  }
  .box.info {
    width: 100%;
  }
  div.box img {
    width: 100%;
    height: 50%;
  }
  div.box.recipe.instruction {
    width: 85%;
  }
  .pageIntro {
    height: 100%;
  }
  .pageIntro h1 {
    line-height: 1.5em;
    padding-left: 50px;
  }
  .itemContent {
    clear: both;
    margin-left: 0;
  }
  .selectingFilter {
    width: 100%;
  }
  .filters {
    margin: 5px;
  }
}
